
/PavlikeCMS/.vs/config/applicationhost.config
/PavlikeCMS/pavlikeMVC/obj/Debug
/PavlikeCMS/pavlikeLibrary/obj/Debug
/PavlikeCMS/pavlikeLibrary/bin/Debug
/PavlikeCMS/PavlikeDATA/obj/Debug
/PavlikeCMS/PavlikeDATA/bin/Debug
/PavlikeCMS/AdminTheme/obj/Debug
